@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;0,700;1,800&display=swap');

* {
    font-family: Jura;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mybtns {
    padding: 20px;
}

.mybtns button {
    font-weight: bold;
    padding: 5px;
}

input {
    margin: 2px;
    padding: 5px;
    font-weight: bold;
}

.displayBox {
    height: 100px;
    width: 250px;
    background: rgb(57, 53, 53);
    margin: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayBox h3 {
    color: white;
    font-size: 2rem;

}